.header {
  padding: 50px 0 20px;
  background: var(--dark-color);
  transition: 0.15s;
  z-index: 5;
  position: sticky;
  top: 0;

  &__sticky {
    padding: 20px 0;
  }

  &__container {
    width: 100%;

    .menu {
      display: flex;
      justify-content: space-between;

      &__item {
        list-style: none;
      }

      &__link {
        text-decoration: none;
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        color: var(--light-color);
        text-transform: uppercase;
        transition: 0.15s;

        &:hover {
          color: var(--red-color);
        }
      }
    }
  }
}
